input[id="name"],
input[id="genre"],
input[id="year"],
input[id="rating"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc; /* Ditambahkan untuk memberikan border */
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf60;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #45a049; /* Ubah hover atau gunakan selector lain jika ini yang dimaksud */
}
